.carta-input,
.carta-renderer {
	scrollbar-width: none;
}

.carta-renderer {
	padding-top: 2px;
	max-height: fit-content !important;
	height: fit-content !important;
}

.carta-input {
	height: fit-content !important;
	min-height: 200px;
}

.carta-font-code {
	min-height: 200px;
}

@media screen and (max-width: 768px) {
	.carta-input {
		max-height: 350px;
		height: 350px;
	}
}
